__pycache__
*.py[cod]
*$py.class
.Python
.env
.env.*
.venv
venv
env
.git
.gitignore
.github
.devcontainer
*.md
!README.md
example-app-crypto-dashboard-main
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
.DS_Store
Thumbs.db
